<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas corrupti tempora expedita repellendus, inventore ea obcaecati ullam dicta cumque voluptatem. Minima quaerat perspiciatis magnam nemo, non eum dicta eos alias.</p>
    </div>
</div>