<div class="jumbotron mt-4">
    <h1 class="display-4">FullWeb con nodejs y mongoose</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, asperiores ipsam? Eveniet, vel. Similique commodi in dolore illum id voluptate, animi sed perferendis, dolores fugiat tenetur aliquid voluptates qui debitis</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem eligendi dolores eum aperiam fugit et magnam eius itaque ab harum nam ipsum delectus, quisquam esse deserunt, perspiciatis veniam modi!</p>
    <a href="#" class="btn btn-primary btn-lg">Web</a>
</div>